# env
.env
**/.env

# node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# build
**/dist/
**/.vite/
**/build/

# OS/IDE
.DS_Store
.vscode/
.idea/

# docker volumes / local data
bubble_pg_data/
